<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="schema" value="[GDD_FORK]" />
    <add key="fechaSistema" value="2017/11/02 00:00:00" />
    <add key="connection.string" value="Data Source=localhost\SQLEXPRESS;Initial Catalog=master;Integrated Security=False;User Id=gd;Password=gd2017;" />
  </appSettings>
</configuration>